{plugins, [
  {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{erl_opts, [
            debug_info,
            warn_unused_vars,
            warn_unused_import,
            warn_exported_vars,
            {parse_transform, lager_transform}
]}.

{deps, [
  {lager, ".*", {git, "https://github.com/erlang-lager/lager", {branch, "master"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},

  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
  {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}},
  {ephp, ".*", {git, "git://github.com/bragful/ephp.git", {tag, "0.2.6"}}},

  {emysql, ".*", {git, "https://github.com/inaka/Emysql.git", {branch, "master"}}},
  {worker_pool, ".*", {git, "https://github.com/inaka/worker_pool.git", {tag, "3.2.0"}}},
  {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},

  {iconv, ".*", {git, "https://github.com/processone/iconv.git", {branch, "master"}}}
]}.

{erlydtl_opts, [
	{doc_root,   "priv/templates"},
	{out_dir,    "ebin"},
	{source_ext, ".dtl"},
	{module_ext, "_dtl"}
]}.

{shell, [
  {apps, [sasl, crypto, lager, worker_pool, iconv, cowboy, public_key, ssl, hackney, emysql, ephp, billy]},
  {config, "config/billy.config"}
  %% {mnesia, [{dir,"temp/my_db_dir"}]}
]}.

{relx, [
  {release, {billy, "0.5"}, [billy]},
  {dev_mode, false},
  {include_erts, false},
  {extended_start_script, true},
  {vm_args, "config/vm.args"},
  {overlay, [
    {mkdir, "config"},
    {copy, "config/billy.config", "config/billy.config"},
    {copy, "priv", "priv"}]}
]}.
