{plugins, [
    %% {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{erl_opts, [
    debug_info,
    warn_unused_vars,
    warn_unused_import,
    warn_exported_vars
]}.

{deps, [
    %% Debuging and logging
    {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}},

    %% Terminal UI for recon
    observer_cli,

    %% MySQL client
    {emysql, ".*", {git, "https://github.com/inaka/Emysql.git", {branch, "master"}}},

    %% Manipulating JSON library
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.0.0"}}},

    %% Webserver
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.8.0"}}},

    %% Webclient
    {hackney, {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},

    %% Webstuff apps
    {mimetypes, {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
    {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}},
    {ephp, {git, "git://github.com/bragful/ephp.git", {tag, "0.2.6"}}},
    {iconv, ".*", {git, "https://github.com/processone/iconv.git", {branch, "master"}}}
]}.

{erlydtl_opts, [
  	{doc_root,   "priv/templates"},
  	{out_dir,    "ebin"},
  	{source_ext, ".dtl"},
  	{module_ext, "_dtl"}
]}.

{shell, [
    {apps, [billy]},
    {config, "config/billy.config"}
]}.

{relx, [
    {release, {billy, "0.1.1"}, [billy]},
    {dev_mode, false},
    {include_erts, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {overlay, [
      {mkdir, "config"},
      {copy, "config/billy.config", "config/billy.config"},
      {copy, "priv", "priv"}
    ]}
]}.
